<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<handlers>
			<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
		</handlers>

		<security>
			<requestFiltering>
				<!-- 200 MB in bytes -->
				<requestLimits maxAllowedContentLength="209715200" />
			</requestFiltering>
		</security>

		<aspNetCore processPath="dotnet" arguments=".\recruitingWebApp.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
	</system.webServer>
</configuration>
